# Frequently changing things.
bookmarks.bak
bookmarks.html
bookmarkbackups
compatibility.ini
components.ini
compreg.dat
delicious.rdf
extensions.cache
extensions.ini
extensions.rdf
itsalltext
localstore.rdf
prefs.js
xpti.dat
ybookmarks@yahoo.log
Cache

# Privacy protection.
cookies.txt
downloads.rdf
formhistory.dat
history.dat
hostperm.1
key3.db
search.sqlite
sessionstore.js
signons2.txt

# "Rather not touch it" stuff.
secmod.db
urlclassifier2.sqlite
*.mfasl

# "Profile in use" flag.
lock
parent.lock
.parentlock
