# Basic stuff.
set folder="imaps://scytale.name@imap.googlemail.com"
set spoolfile="imaps://scytale.name@imap.googlemail.com/INBOX"
set postponed="=[Google%20Mail]/Drafts"
set record="=[Google%20Mail]/Sent Mail"

# As suggested on http://lists.debian.org/debian-user/2008/04/msg01942.html
set imap_keepalive=300

# Supported by Google Mail. Great.
set imap_idle=yes

# Keeps Mutt from leaving messages unread when “archiving”.
# Currently, this does not work because of a bug in Gmail:
# http://www.google.com/support/forum/p/gmail/thread?tid=2885631ec52cdf16&hl=en
set imap_peek=no
