# If multiple messages are tagged, the following actions should be applied to
# all of them. If none are tagged, the action should be applied to the current
# message only. That’s why “auto_tag” is set.
# Also, the cursor should not move off the message while we’re processing it.
# That’s what “resolve=no” is for.

set my_gtdprefix='\
<enter-command>set my_gtdautotag=$auto_tag<enter>\
<enter-command>set my_gtdresolve=$resolve<enter>\
<enter-command>set auto_tag=yes<enter>\
<enter-command>set resolve=no<enter>'

set my_gtdsuffix='\
<enter-command>set auto_tag=$my_gtdautotag<enter>\
<enter-command>set resolve=$my_gtdresolve<enter>\
<next-undeleted>'

# These are my general mail actions, here the Google Mail variant.

# 2: Act ASAP.
set my_gtd2='<save-message>=act<enter><enter>'

# 3: Act later. (Currently there’s no difference.)
set my_gtd3="$my_gtd2"

# 4: Archive.
set my_gtd4='<delete-message>'

# 5: Flag and archive (important messages, “reference”).
set my_gtd5="<flag-message>$my_gtd4"

# 6: Tag as spam.
set my_gtd6='<save-message>=[Google%20Mail]/Spam<enter><enter>'

# Now, the macros.

macro index,pager "\e2" "$my_gtdprefix$my_gtd2$my_gtdsuffix"
macro index,pager "\e3" "$my_gtdprefix$my_gtd3$my_gtdsuffix"
macro index,pager "\e4" "$my_gtdprefix$my_gtd4$my_gtdsuffix"
macro index,pager "\e5" "$my_gtdprefix$my_gtd5$my_gtdsuffix"
macro index,pager "\e6" "$my_gtdprefix$my_gtd6$my_gtdsuffix"
