[user]
	name = Tim Weber
	email = scy@scytale.name
[core]
	autocrlf = false
[color]
	ui = auto
[diff]
	mnemonicprefix = true
[interactive]
	singlekey = true
[merge]
	tool = vimdiff
[alias]
	a = add
	ap = add -p
	c = commit
	d = diff
	dc = diff --cached
	f = fetch
	fr = !git fetch && git rebase origin && read -n 1 -p 'Show a diff? [Y/n] ' r && [ $r = y -o $r = Y -o -z $r ] && git diff ORIG_HEAD; echo
	l = log
	lp = log -p
	oops = rebase -i HEAD~20
	p = push
	rb = rebase
	rbi = rebase -i
	s = status
	sd = svn dcommit
	sf = svn fetch
	st = stash
	sta = stash apply
