[user]
	name = Tim Weber
	email = scy@scytale.name
[core]
	autocrlf = false
[color]
	ui = auto
[diff]
	mnemonicprefix = true
[interactive]
	singlekey = true
[merge]
	tool = vimdiff
[alias]
	a = add
	am = am
	ap = add -p
	bash = !bash
	c = commit
	ca = commit -a
	co = checkout
	cob = checkout -b
	d = diff
	dc = diff --cached
	f = fetch
	fp = format-patch --stdout --thread -C origin..HEAD
	fpp = "!git fp > scy-git-patch.txt"
	fr = "!bash -c 'git fetch && git rebase origin && type read >/dev/null 2>&1 && read -n 1 -p \"Show a diff? [Y/n] \" r && [ $r = y -o $r = Y -o -z $r ] && git diff ORIG_HEAD; echo"
	l = log
	lp = log -p
	oops = rebase -i HEAD~20
	p = push
	pr = pull --rebase
	rb = rebase
	rbi = rebase -i
	rbo = rebase origin
	s = status
	sd = svn dcommit
	sf = svn fetch
	st = stash
	sta = stash apply
