# If you use Ubuntu or a recent-ish desktop environment, everyone and their
# mother writes to .config. Instead of blacklisting, it's easier to whitelist
# the stuff you really want to keep.
/.config/*
!/.config/dunst/
!/.config/htop/
!/.config/user-dirs.*

# Same thing for .local.
/.local/*

/.account
/.android/
/.aptitude/
/.bash_history
/.cache/
/.composer/.htaccess
/.composer/cache/
/.CFUserTextEncoding

# see above for /.config/

/.cpan/
/.cups/lpoptions
/.dbshell
/.dbus/session-bus/
/.dmenu_cache

# Maybe I will add this to version control in the future, but not now.
/.dmrc

/.dropbox/
/.dropbox-dist/
/.eclim/
/.esd_auth
/.fontconfig/
/.gconf/
/.gconfd/saved_state
/.gegl-0.0/
/.gem/
/.gimp-2.?/
/.gitignore_global
/.gitk
/.gnome/apps/
/.gnucash/

# Every machine has to decide for itself whether data is migrated or not.
/.gnupg/.gpg-v*-migrated

# Don't put revocation certs into the public, you know.
/.gnupg/openpgp-revocs.d/

/.gnutls/
/.gpg-agent-info
/.gstreamer-*/registry.*.bin
/.gtk-bookmarks
/.hgignore_global
/.hgrc
/.ICEauthority
/.icedove/
# Ignore IDEA's local files, but don't ignore the config/ directory.
/.IntelliJIdea12/system/
/.java/deployment/
/.java/fonts/
/.keepassx/
/.keybase-installer/
/.lesshst
/.links2/

# see above for /.local/

/.macromedia/Flash_Player/
/.mc/
/.mozilla/appreg
/.mozilla/extensions/
/.mozilla-thunderbird/
/.mysql_history
/.netrc
/.npm/
/.offlineimap/
/.offlineimappw-*
/.oracle_jre_usage/
/.password-store/
/.pearrc
/.pki/
/.psi/
/.pulse/*-runtime
/.pulse-cookie
/.purple/
# Ignore PhantomJS data.
/.qws/share/data/Ofi Labs/PhantomJS/
/.recently-used
/.recently-used.xbel
/.rnd
/.sh_history
/.simfy
/.Skype/
/.smb/smbnetfs.auth
/.sqlite_history
/.subversion/
/.thumbnails/
/.toodledo/
/.Trash/
/.vimperatorrc.local
/.VirtualBox
# PhpStorm config.
/.WebIde60/
/.WebIde70/
/.wireshark/
/.wireshark-etc/
/.Xauthority
/.xchat2
/.xsession-errors
/Applications/
/cash/
/Desktop/
/dia.log
/Documents/
/Downloads/
/Dropbox/
/Google Drive/
# This holds my local installation of IDEA/PhpStorm.
/IntelliJ/
/keepass.*.key
# <http://crbug.com/239048>:
/libpeerconnection.log
/Library/
/Lightroom/
/Movies/
/Music/
/org/
/Pictures/
/Public/
/Sites/
