[submodule ".vim/pathogen"]
	path = .vim/pathogen
	url = gitpub:tpope/vim-pathogen.git
[submodule ".vim/bundle/textile"]
	path = .vim/bundle/textile
	url = gitpub:scy/vim-textile.git
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = gitpub:tpope/vim-surround.git
[submodule ".vim/bundle/remind"]
	path = .vim/bundle/remind
	url = gitpub:scy/vim-remind.git
[submodule ".vim/bundle/markdown"]
	path = .vim/bundle/markdown
	url = git@github.com:scy/vim-markdown.git
