[submodule ".vim/pathogen"]
	path = .vim/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/textile"]
	path = .vim/bundle/textile
	url = https://github.com/scy/vim-textile.git
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/remind"]
	path = .vim/bundle/remind
	url = https://github.com/scy/vim-remind.git
[submodule ".vim/bundle/markdown"]
	path = .vim/bundle/markdown
	url = https://github.com/scy/vim-markdown.git
[submodule "res/smyck-colors"]
	path = res/smyck-colors
	url = https://github.com/hukl/Smyck-Color-Scheme
[submodule ".vim/bundle/twig"]
	path = .vim/bundle/twig
	url = https://github.com/beyondwords/vim-twig.git
[submodule ".vim/bundle/vim-mkdir-on-write"]
	path = .vim/bundle/vim-mkdir-on-write
	url = https://github.com/scy/vim-mkdir-on-write
[submodule ".vim/bundle/mako"]
	path = .vim/bundle/mako
	url = https://github.com/sophacles/vim-bundle-mako.git
[submodule ".vim/bundle/gitgutter"]
	path = .vim/bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/handlebars"]
	path = .vim/bundle/handlebars
	url = https://github.com/nono/vim-handlebars.git
[submodule "res/solarized"]
	path = res/solarized
	url = https://github.com/altercation/solarized.git
