[submodule ".vim/syntax/markdown"]
	path = .vim/syntax/markdown
	url = gitpub:plasticboy/vim-markdown.git
[submodule ".vim/pathogen"]
	path = .vim/pathogen
	url = gitpub:tpope/vim-pathogen.git
[submodule ".vim/bundle/textile"]
	path = .vim/bundle/textile
	url = gitpub:scy/vim-textile.git
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = gitpub:tpope/vim-surround.git
