[user]
	name = Tim Weber
	email = scy@scytale.name
[core]
	autocrlf = false
[color]
	ui = auto
[diff]
	mnemonicprefix = true
[interactive]
	singlekey = true
[merge]
	tool = vimdiff
[alias]
	a = add
	ae = add -e
	alias = "!git config --get-regexp '^alias\\.' | sed -e 's/^alias\\.//' -e 's/ /	/'"
	am = am
	ap = add -p
	b = branch
	bash = !bash
	c = commit
	ca = commit -a
	co = checkout
	cob = checkout -b
	com = checkout master
	d = diff
	db = default-branch checkout
	dbm = default-branch merge
	dbr = default-branch rebase
	dc = diff --cached
	f = fetch
	find = "!find . -not -path './.git/*'"
	fp = format-patch --stdout --thread -C origin..HEAD
	fpp = "!git fp > scy-git-patch.txt"
	k = "!gitk --all; cd \"$HOME\"; git checkout .gitk; cd - >/dev/null"
	l = log --pretty=format:'%C(yellow bold)commit %H%Creset %C(yellow)tree %T%Creset%nAuthor: %an <%ae>%nDate:   %ad%n%n%w(76,4,4)%s%n%n%-b%n'
	lp = log --pretty=format:'%C(yellow bold)commit %H%Creset %C(yellow)tree %T%Creset%nAuthor: %an <%ae>%nDate:   %ad%n%n%w(76,4,4)%s%n%n%-b%n' -p
	oops = "!git rebase -i $(git log --oneline --abbrev=40 | head -n 20 | tail -n 1 | cut -d ' ' -f 1)"
	p = push
	pr = pull --rebase
	rb = rebase
	rbi = rebase -i
	rbm = rebase master
	rbo = rebase origin
	s = status
	sm = submodule
	sd = "!bash -c 'time git svn dcommit'"
	sf = svn fetch
	sr = svn rebase
	st = stash
	sta = stash apply
[url "git@github.com:"]
	insteadOf = github:
[url "git://github.com/"]
	insteadOf = gitpub:
[url "git@git.scytale.name:"]
	insteadOf = scy:
[url "scy@git.4null4.org:git/oqlt/"]
	insteadOf = oqlt:
