/.aptitude/
/.bash_history
/.cache/
/.config/enchant/*.dic
/.config/enchant/*.exc
/.config/gtk-*/gtkfilechooser.ini
/.config/Trolltech.conf
/.config/vlc/
/.dbshell
/.dbus/session-bus/
/.dmenu_cache
/.eclim/
/.esd_auth
/.fontconfig/
/.gconf/
/.gconfd/saved_state
/.gegl-0.0/
/.gimp-2.6/
/.gstreamer-*/registry.*.bin
/.icedove/
/.lesshst
/.local/share/vlc/
/.macromedia/Flash_Player/
/.mc/
/.mozilla/appreg
/.mozilla/extensions/
/.mozilla-thunderbird/
/.mysql_history
/.psi/
/.purple/
/.recently-used.xbel
/.subversion/
/.thumbnails/
/.vimperatorrc.local
/.Xauthority
/.xsession-errors
/Desktop/
/Downloads/
/Library/
/Sites/
