# Things that may get placed here on Windows machines where this directory is $HOME.
.cvsps-notify.conf
.gitk
.bash_history
.gimp-*
.recently-used.xbel
.thumbnails
.viminfo

# Standard name of e-mail-formatted patches when using this somewhere else.
patch.txt

# Local stuff when using on Windows.
.vimperator-local

# Secrets.
.cvspass
