# No "filename~" backups.
unset backup

# Case insensitive searches.
unset casesensitive

# No search/replace history.
unset historylog

# Mouse support.
set mouse

# Automatic conversion.
unset noconvert

# Follow symlinks when writing.
unset nofollow

# Add newlines at file end.
unset nonewlines

# Since there's nothing like a "+w" option, I'm forced to use the crappy
# wrapping as a default, because I use nano as mail editor.
unset nowrap

# Break after 70 characters.
set fill 70

# Use regex searches.
set regexp

# Smart home key.
set smarthome

# Less tab space.
set tabsize 4

# What?  Never!
unset tabstospaces
